* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #333;
    font-family: monospace;
    font-size: 1rem;
}

.container {
    display: flex;
    min-height: 100vh;
}

.options-panel {
    border-right: 1px solid #ccc;
}

.preview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.label {
    display: block;
    cursor: pointer;
    font-family: monospace;
    font-size: 1.05rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li > label,
    li > span {
        display: flex;
        justify-content: space-between;
        padding: 8px 15px;
    }

    li label {
        cursor: pointer;

        &:hover {
            color: #111;

        }
    }

    li:hover {
        background-color: #f0f0f0;
    }
}